/******** General ********/
body {
	color: #ffffff;
	background-color: #202323;
	margin: 0px;
	overflow: hidden;
	font-family: 'Roboto', helvetica, sans-serif;
	font-size:13px;
	text-align:center;
}
p {
	font-size:8px;
	text-align: left;
}
a {
	color:#0078ff;
}

/****** Header and Legend CSS Info *********/
#victimTitle{
	position: absolute;
	top: 0px; width:100%;
	padding: 5px;
	text-align: left;
}
#titleText{
	font-size:13px;
	text-align: left;
}
#buttonText{
	text-align:center;
}
#legends{
	position: absolute;
	right:300px;
	padding:5px;
}
#legend01{
	position: absolute;
	top:0px;
	left: 0px;
	width:70px;
}
#legend02{
	position: absolute;
	top:0px;
	left: 80px;
	width:70px;
}
#legend03{
	position: absolute;
	top:0px;
	left: 160px;
	width:70px;
}
#legend04{
	position: absolute;
	top:0px;
	left: 240px;
	width:70px;
}
#legendRect01{
	position: absolute;
	top: 10px;
	left: -8px;
	width: 5px;
	height: 5px;
	background-color: #202323;
}
#legendRect02{
	position: absolute;
	top: 10px;
	left: 72px;
	width: 5px;
	height: 5px;
	background-color: #202323;
}
#legendRect03{
	position: absolute;
	top: 10px;
	left: 152px;
	width: 5px;
	height: 5px;
	background-color: #202323;
}
#legendRect04{
	position: absolute;
	top: 10px;
	left: 232px;
	width: 5px;
	height: 5px;
	background-color: #202323;
}

/******* CSS Styling of Buttons to sort and color data ********/
/******* Buttons that sort the data *********/

.button{
	background-color: #2f4f4f;
	position: absolute;
	width: 27px;
	height: 27px;
	z-index: 100;
}
.sort{
	left: 1px;
}
#sortTitle{
	top: 30px;
}
#sortKey{
	top: 60px;
}
#sortHecho{
	top: 90px;
}
#sortActor{
	top: 120px;
}
#sortGender{
	top: 150px;
}
#sortRace{
	top: 180px;
}
#sortEventDate{
	top: 210px;
}
#sortReportDate{
	top: 240px;
}

/*Buttons to color the data */
.color{
	right: 1px;
}
#colorTitle{
	top: 30px;
}
#colorKey{
	top: 60px;
}
#colorHecho{
	top: 90px;
}
#colorActor{
	top: 120px;
}
#colorGender{
	top: 150px;
}
#colorRace{
	top: 180px;
}
#colorEventDate{
	top: 210px;
}
#colorReportDate{
	top: 240px;
}

/* Styling our timeline */
.timeline {
	position: absolute;
	bottom: 2px;
}
.timeline.hidden {
	display: none;
}
.timelineTick {
	background-color: #ffffff;
	position: absolute;
	width: 1px;
	height: 5px;
	bottom:25px;
}
.timelineTick.hidden{
	display: none;
}
#timelineText {
	text-align: center;
	-moz-transform: rotate(60.0deg);  /* FF3.5+ */
	-o-transform: rotate(60.0deg);  /* Opera 10.5 */
	-webkit-transform: rotate(60.0deg);  /* Saf3.1+, Chrome */ 
}

/* Styling of our tooltip that pops out and displays relevant info on selected pixel */
#tooltip {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 5px;
	background-color: #202323;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

/*Hide the tooltip when we are not scrolling over data*/
#tooltip.hidden {
	display: none;
}

/*Tooltip paragraph styling*/
#tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 18px;
}