/******** General ********/
/*body {
	color: #ffffff;
	background-color: #202323;
	margin: 0px;
	overflow: hidden;
	font-family: 'Roboto', helvetica, sans-serif;
	font-size:13px;
	text-align:center;
}
p {
	font-size:8px;
	text-align: left;
}
a {
	color:#0078ff;
}*/

/*canvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}*/

/****** Header and Legend CSS Info *********/
#victimTitle{
	position: absolute;
	top: 50px;
	left: 10px;
	width:100%;
	padding: 5px;
	text-align: left;
	font-weight: 100;
}
#titleText{
	font-size:.9em;
	text-align: left;
}
#buttonText{
	text-align:center;
	font-weight: 100;
}
#legends{
	position: absolute;
	top:80px;
	left:430px;
	padding:5px;
	font-size: .7em;
	font-weight: 100;
	display: inline;
}
#legend01{
	position: absolute;
	top:6px;
	left: 0px;
	width:100px;
}
#legend02{
	position: absolute;
	top:6px;
	left: 100px;
	width:100px;
}
#legend03{
	position: absolute;
	top:6px;
	left: 200px;
	width:100px;
}
#legend04{
	position: absolute;
	top:6px;
	left: 300px;
	width:100px;
}

#legend05{
	position: absolute;
	top:6px;
	left: 400px;
	width:100px;
}

#legendRect01{
	position: absolute;
	top: 10px;
	left: -8px;
	width: 5px;
	height: 5px;
	background-color: #000000;
}
#legendRect02{
	position: absolute;
	top: 10px;
	left: 92px;
	width: 5px;
	height: 5px;
	background-color: #000000;
}
#legendRect03{
	position: absolute;
	top: 10px;
	left: 192px;
	width: 5px;
	height: 5px;
	background-color: #000000;
}
#legendRect04{
	position: absolute;
	top: 10px;
	left: 292px;
	width: 5px;
	height: 5px;
	background-color: #000000;
}
#legendRect05{
	position: absolute;
	top: 10px;
	left: 392px;
	width: 5px;
	height: 5px;
	background-color: #000000;
}
#legendGradient{
	position:absolute;
	top:10px;
	left:27px;
	width: 170px;
	height:5px;
	background-color:#ffffff;
	background: -webkit-linear-gradient(left, rgb(100,0,100) , rgb(100,255,100)); /* For Safari 5.1 to 6.0 */
 	background: -o-linear-gradient(right, rgb(100,0,100) , rgb(100,255,100)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgb(100,0,100) , rgb(100,255,100)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgb(100,0,100) , rgb(100,255,100)); /* Standard syntax */
}

#legendGradient.hidden{
	display: none;
}

/******* CSS Styling of Buttons to sort and color data ********/
/******* Buttons that sort the data *********/

.button{
	background-color: #2f4f4f;
	position: absolute;
	width: 60px;
	height: 15px;
	z-index: 100;
	font-size: 0.7em;
	top:85px;
	text-align: center;
	/*display: -webkit-flex;*/
	/*display: flex;*/
	/*align-items: center;*/
	cursor:pointer;
}
.color{
	left: 1px;
}
#colorTitle{
	/*width:450px;*/
	/*top:85px;*/
	left: 15px;
}
#colorKey{
	left: 183px;
}
#colorHecho{
	left: 80px;
}
#colorActor{
	left: 145px;
}
#colorGender{
	left: 210px;
}
#colorRace{
	left: 275px;
}
#colorEventDate{
	left: 340px;
}
#colorReportDate{
	left: 405px;
}

/*Buttons to color the data */
.sort{
	right: 1px;
}
#sortTitle{
	/*width:450px;*/
	/*top: 85px;*/
	left: 990px;
}
#sortKey{
	left: 965px;
}
#sortHecho{
	left: 1040px;
}
#sortActor{
	left: 1105px;
}
#sortGender{
	left: 1170px;
}
#sortRace{
	left: 1235px;
}
#sortEventDate{
	left: 1300px;
}
#sortReportDate{
	left: 1365px;
}

/* Styling our timeline */
.timeline {
	position: absolute;
	/*bottom: 28px;*/
	top: 710px;
}
.timeline.hidden {
	display: none;
}
.timelineTick {
	background-color: #ffffff;
	position: absolute;
	width: 1px;
	height: 8px;
	/*bottom:60px;*/
	top: 700px;
}
.timelineTick.hidden{
	display: none;
}
#timelineText {
	font-size:0.7em;
	text-align: center;
	font-weight: 100;
	/*-moz-transform: rotate(60.0deg);  /* FF3.5+ */*/
	/*-o-transform: rotate(60.0deg);  /* Opera 10.5 */*/
	/*-webkit-transform: rotate(60.0deg);  /* Saf3.1+, Chrome */*/
}

/* Styling of our tooltip that pops out and displays relevant info on selected pixel */
#tooltip {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 5px;
	background-color:#000000;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

/*Hide the tooltip when we are not scrolling over data*/
#tooltip.hidden {
	display: none;
}

/*Tooltip paragraph styling*/
#tooltip p {
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 100;
}

#loading {
	position: absolute;
	top: 50%;
	left: 45%;
	width: 50px;
	height: 50px;
	font-size: 1em;
	font-style: italic;
	text-align: center;
}

#loading.hidden{
	display: none;
}
