/******** General ********/
/*body {
	color: #ffffff;
	background-color: #202323;
	margin: 0px;
	overflow: hidden;
	font-family: 'Roboto', helvetica, sans-serif;
	font-size:13px;
	text-align:center;
}
p {
	font-size:8px;
	text-align: left;
}
a {
	color:#0078ff;
}*/

/*canvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}*/

body {
	--descriptionColor: #BFBFBF;
}

/****** Header and Legend CSS Info *********/
#victimTitle{
	position: absolute;
	top: 50px;
	left: 10px;
	width:100%;
	padding: 5px;
	text-align: left;
	font-weight: 300;
	color: var(--descriptionColor);
}
#titleText{
	font-size:.9em;
	text-align: left;
}
#buttonText{
	text-align:center;
	font-weight: 300;
}
ul {
	list-style-type:none;
	padding: 0px;
}

li{
	display:inline;
	float: left;
}

li p{
	display:inline-block;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:15px;
	text-align: center;
}

#legends{
	position: absolute;
	top:80px;
	left:430px;
	padding:5px;
	font-size: .7em;
	font-weight: 300;
	display: inline;
}

.legendRect{
	display:inline-block;
	padding-bottom: 4px;
	width: 5px;
	height: 5px;
	background-color: #000000;
}

#legendGradient{
	display:inline-block;
	margin-left:15px;
	width: 170px;
	height:5px;
	background-color:#ffffff;
	background: -webkit-linear-gradient(left, rgb(100,0,100) , rgb(100,255,100)); /* For Safari 5.1 to 6.0 */
 	background: -o-linear-gradient(right, rgb(100,0,100) , rgb(100,255,100)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgb(100,0,100) , rgb(100,255,100)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgb(100,0,100) , rgb(100,255,100)); /* Standard syntax */
}

#legendGradient.hidden{
	display: none;
}

/******* CSS Styling of Buttons to sort and color data ********/
/******* Buttons that sort the data *********/

.button{
	background-color: #333333;
	position: absolute;
	width: 60px;
	height: 15px;
	z-index: 100;
	font-size: 0.7em;
	top:85px;
	text-align: center;
	/*display: -webkit-flex;*/
	/*display: flex;*/
	/*align-items: center;*/
	cursor:pointer;
}
.color{
	left: 1px;
}
#colorTitle{
	/*width:450px;*/
	/*top:85px;*/
	left: 15px;
}
#colorKey{
	left: 183px;
}
#colorHecho{
	left: 80px;
}
#colorActor{
	left: 145px;
}
#colorGender{
	left: 210px;
}
#colorRace{
	left: 275px;
}
#colorEventDate{
	left: 340px;
}
#colorReportDate{
	left: 405px;
}

/*Buttons to color the data */
.sort{
	right: 1px;
}
#sortTitle{
	/*width:450px;*/
	/*top: 85px;*/
	left: 990px;
}
#sortKey{
	left: 965px;
}
#sortHecho{
	left: 1040px;
}
#sortActor{
	left: 1105px;
}
#sortGender{
	left: 1170px;
}
#sortRace{
	left: 1235px;
}
#sortEventDate{
	left: 1300px;
}
#sortReportDate{
	left: 1365px;
}

/* Styling our timeline */
.timeline {
	position: absolute;
	/*bottom: 28px;*/
	top: 710px;
}
.timeline.hidden {
	display: none;
}
.timelineTick {
	background-color: #ffffff;
	position: absolute;
	width: 1px;
	height: 8px;
	/*bottom:60px;*/
	top: 700px;
}
.timelineTick.hidden{
	display: none;
}
#timelineText {
	font-size:0.7em;
	text-align: center;
	font-weight: 300;
	/*-moz-transform: rotate(60.0deg);  /* FF3.5+ */*/
	/*-o-transform: rotate(60.0deg);  /* Opera 10.5 */*/
	/*-webkit-transform: rotate(60.0deg);  /* Saf3.1+, Chrome */*/
}

/* Styling of our tooltip that pops out and displays relevant info on selected pixel */
#tooltip {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 5px;
	background-color:#000000;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

/*Hide the tooltip when we are not scrolling over data*/
#tooltip.hidden {
	display: none;
}

/*Tooltip paragraph styling*/
#tooltip p {
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
}

.selectTitle p {
	position: absolute;
	top: 60px;
	left: 1235px;
	font-family: 'Roboto', helvetica, sans-serif;
	font-weight: 300;
	font-size: .7em;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;
		/*height: 15px;*/
		width: 100px;
		text-align: center;
		padding: 1px 6px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    top:60px;
    /*display: inline-block;*/
    z-index:1000;
    left: 1325px;
    font-family: 'Roboto', helvetica, sans-serif;
    font-weight: 300;
    font-size: .7em;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    cursor: pointer;
    background-color: #000000;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 75vh;
    /*overflow:scroll;*/
}
/* Links inside the dropdown */
.dropdown-content p {
    color: #ffffff;
		padding: 2px 4px;
    text-decoration: none;
    display: block;
		margin-bottom: 0px;
}
/* Change color of dropdown links on hover */
.dropdown-content p:hover {
	background-color: #333333;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    /*overflow:scroll;*/
}

#loading {
	position: absolute;
	top: 50%;
	left: 45%;
	width: 50px;
	height: 50px;
	font-size: 1em;
	font-style: italic;
	text-align: center;
}

#loading.hidden{
	display: none;
}
