body {
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-color:black;
}
h1{
  font-size:12px;
  line-height: 50%;
}
p{
  font-size: 10px;
}

#map {
  background: rgba(0, 0, 0, 0);
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 50px;
}
#console{
  /*top: 230px;*/
  height: auto;
  /*width: 20%;*/
  /*visibility: hidden;*/
  display:none;
  /*float: right;*/
  background-color: rgba(0,0,0,0.5);
  color: white;
  /*padding: 3%;*/
  /*margin: 3%;*/
  z-index: 10000;
  position: relative;
  opacity: 0;
  pointer-events: none;
  margin-top: 15px;
  font-family: 'Roboto', helvetica, sans-serif;
}
#image{
  display: block;
  margin: auto;
  clear: both;
  color: white;
}
#image img{
  display: block;
  width: 100%;
  margin: auto;
}
#title{
  height:auto;
  width:100%;
  margin-top: 10px;
  font-weight: 300;
  font-size: 1.5em;
}
#masthead{
  /*height: 210px;*/
  width: 350px;
  background-color: rgba(0,0,0,0.9);
  float: right;
  padding: 20px;
  padding-bottom: 5px;
  position: absolute;
  color: white;
  top: 0px;
  right: 0px;
  z-index: 1000;
  -webkit-transition: height 0.8s;
  -moz-transition: height 0.8s;
  transition: height 0.8s;
}
#masthead > h1{
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.25em;
  line-height: 120%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}
#credits{
  position:absolute;
  text-align: right;
  bottom:20px;
  right:0;
  z-index: 1000;
}
#masthead p{
  line-height: 50%;
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight: 100;
  font-size: .9em;
}
#infoBars{
  width:100%;
  margin-top: 2%;
  display: block;
  position: relative;
}
#infoBars p {
  font-size: .9em;
  font-weight: 100;
  margin-bottom: 12px;
}
#municipText{
  font-size: .9em;
  font-weight: 100;
  margin-bottom: 12px;
}
.button{
  background-color: #333333;
  position: absolute;
  width: 60px;
  height: 16px;
  z-index: 100;
  font-size: 0.8em;
  right:350px;
  top:15px;
  /*text-align: center;*/
  cursor:pointer;
  display:none;
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight: 100;
  font-size: .8em;
}
#showPathsAll{
  top: 70px;
}
#showPathsIn{
  top: 95px;
}
#showPathsOut{
  top: 120px;
}
.bar{
  margin-bottom: 8px;
  height: 3px;
  background: #ff7111;
}
.bar4Legend{
  float:left;
  height: 2px;
  background: #ff7111;
  width: 12.5%;
  height:auto;
}
#barLegend{
  display: inline-block;
  width:100%;
  height: auto;
  margin-top: 5px;
}
#barLegend p {
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight: 100;
  font-size: .75em;
}
#barLegend ul{
  display: inline;
  list-style: none;
  padding-left:0;
}
#barLegend li{
  display: inline;
  list-style-type: none;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #ff7111;
    color: white;
    padding: 5px;
    /*font-size: 16px;*/
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    top:12px;
    display: inline-block;
    z-index:1000;
    left: 60px;
    font-family: 'Roboto', helvetica, sans-serif;
    font-weight: 100;
    font-size: .8em;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    cursor: pointer;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 75vh;
    overflow:scroll;
}
/* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content p:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    overflow:scroll;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.leaflet-container .leaflet-control-attribution {
  background-color: #000000;
}
.leaflet-control-attribution a {
  color: #7F7F7F;
  text-decoration: underline;
}
.leaflet-control-attribution p {
  color: #7F7F7F;
}
.leaflet-container .leaflet-control {
  color: #7F7F7F;
}
.leaflet-touch .leaflet-bar a {
  background-color: #000000;
  border-color: #7F7F7F;
  border-width: 1px;
  border-style: solid;
  color: #BFBFBF;
}
.leaflet-bar a.leaflet-disabled {
  color: #7F7F7F;
}
.leaflet-touch .leaflet-control-zoom-out {
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight: 100;
  font-size: 2em;
}
.leaflet-touch .leaflet-control-zoom-in {
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.5em;
}
.leaflet-bar {
  border-radius: 0px;
}
.leaflet-bar a:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.leaflet-bar a:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-width: 0px;
}
