/****** General ******/
body {
	padding-bottom: 20px;
	background-color: #191919;
	color: #ffffff;
	font-family: 'Roboto', helvetica, sans-serif;
}
@media (min-width: 1200px){}
.container {
    width: 100%;
}
.container-fluid {
	padding-left: 5%;
	padding-right: 5%;
}
/*@media (min-width: 768px) {
	.container {
		max-width: 1024px;
	}
}*/
/*@media (min-width: 768px) {
	.container {
		max-width: 1200px;
	}
}*/

/******* Navbar colapse point *******/
@media (max-width: 900px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
/******* Navbar ******/
.navbar-default {
	background-color: #191919;
	border-color: #757F7F;
}
.navbar-default .navbar-brand {
	color: #ffffff;
	font-weight: 100;
	font-size: 1.5em;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	font-weight: 100;
	font-size: 1em;
}
.nav > li > a {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 16px;
	padding-bottom: 14px;
}
.navbar-default .navbar-nav>li>a:focus {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #ffffff;
	text-decoration: underline;
}

/****** Text *********/
.section {
	padding-top: 40px;
}
.narrow-section {
	max-width: 1400px;
	margin-right: auto;
	margin-left: auto;
}
.row h1 {
	font-weight: 300;
	font-size: 3.45em;
	line-height: 120%;
}
.row {
	margin-right: 0px;
	margin-left: 0px;
}
.col-md-12 {
	padding-left: 0px;
	padding-right: 0px;
}
.row p {
	font-weight: 100;
	font-size: 1.25em;
}
.row p > a {
	color: #ffffff;
	text-decoration: underline;
}
.row h2 {
	font-size: 2.5em;
	font-weight: 300;
	padding-bottom: 5px;
}
.featured-content {
	padding-top: 15px;
}

/****** Footer ******/
.footer p {
	font-size: 1em;
	font-weight: 100;
}
.footer p > a {
	color: #ffffff;
	text-decoration: underline;
}