/****** General ******/
body {
	padding-bottom: 20px;
	background-color: #191919;
	color: #ffffff;
	font-family: 'Roboto', helvetica, sans-serif;
}
.container-narrow {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/****** Jumbotron ********/
.container-narrow .jumbotron {
	padding-right: 0px;
	padding-left: 0px;
	background-color: #191919;
	padding-bottom: 0px;
}
.jumbotron h1 {
	font-weight: 300;
	font-size: 3.45em;
	line-height: 120%;
	text-align: center;
}
.jumbotron p {
	font-size: 1.5em;
	font-weight: 100;
}

/****** Thumbnails Landing Page *********/
.tumbnails {
	margin-top: 20px;
	margin-bottom: 40px;
}
p.application-title {
	font-weight: 100;
	font-size: 1.3em;
	color: #ffffff;
	margin-bottom: 3px;
	margin-top: 3px;
}
p.application-summary {
	color: #ffffff;
	font-size: 1em;
	font-weight: 100;
}
.project-thumb:hover{
	color: #ffffff;
	text-decoration: underline;
}

/***** Text landing page ********/
p.intro-bottom {
	font-weight: 100;
	font-size: 1.15em;
}
p.intro-bottom > a {
	color: #ffffff;
	text-decoration: underline;
}

/******* Other pages *********/
.section {
	padding-top: 50px;
}
.section h1 {
	font-weight: 300;
	font-size: 3.45em;
	line-height: 120%;
}
.section p {
	font-weight: 100;
	font-size: 1.35em;
}
.section p > a {
	color: #ffffff;
	text-decoration: underline;
}
h2 {
	font-size: 2.5em;
	font-weight: 300;
	padding-bottom: 5px;
}

/******** Social links ********/
div.social_link{
	/*position: relative;
	width: auto;
	margin-right: 20%;
	bottom: 3px;*/
	text-align: center;
	margin-top: 20px;
	opacity: 0.8;
}
li.social_link{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
