/****** General ******/
body {
	padding-bottom: 20px;
	background-color: #191919;
	color: #ffffff;
	font-family: 'Roboto', helvetica, sans-serif;
	--descriptionColor: #BFBFBF;
}
.container-narrow {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/******* Navbar ******/
.navbar-default {
	background-color: #191919;
	border-color: #757F7F;
}
.navbar-default .navbar-brand {
	color: #ffffff;
	font-weight: 300;
	font-size: 1.4em;
}
.navbar-default .navbar-nav > li > a {
	color: var(--descriptionColor);
	font-weight: 300;
	font-size: .95em;
}
.nav > li > a {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 16px;
	padding-bottom: 14px;
}
.navbar-default .navbar-brand:hover {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active> a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #ffffff;
	/*font-weight: 300;*/
	background-color: #191919;
	text-decoration: underline;
	/*background-color: #333333;*/
}

/******* Other pages *********/

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    max-height: 100vh;
	width: 100%;
}

.section {
    scroll-snap-align: start;
	/* overflow-y: scroll;  */
    overflow-x: hidden;
	scroll-snap-stop: always;
    max-width: 100%;
	padding-left: 9%;
	padding-right: 9%;
	padding-top: 9%;
	padding-bottom: 25%;
	margin: auto;
}

.section h1 {
	font-weight: 300;
	font-size: 3.45em;
	line-height: 120%;
}
.section p {
	font-weight: 300;
	font-size: 1.35em;
	color: var(--descriptionColor);
}
.section p > a {
	color: var(--descriptionColor);
	text-decoration: underline;
}

.section p.intro-bottom {
	font-weight: 300;
	font-size: 1.15em;
	color: var(--descriptionColor);
}

.section p.intro-bottom > a {
	color: var(--descriptionColor);
	text-decoration: underline;
}

h2 {
	font-size: 2.5em;
	font-weight: 300;
	padding-bottom: 5px;
}
.featured-content {
	padding-top: 15px;
}
.image-row {
	margin-top: 20px;
	margin-bottom: 10px;
}
p.image-caption {
	color: var(--descriptionColor);
	font-size: 1em;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 20px;
}
